@model WebAutopark.Models.Vehicle

<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-5">
        <form action="/Vehicle/Edit" method="post">
            <input type="hidden" asp-for="VehicleId" value = "@Model.VehicleId"></input>
            <p>
                <label class="form-label" asp-for="Model">Model: </label><br />
                <input class="form-control" type="text" name="Model" asp-for="Model" value ="@Model.Model" />
                <span asp-validation-for="Model" />
            </p>
            <p>
                <label class="form-label" asp-for="VehicleTypeId">VehicleTypeId:</label> <br />
                <input class="form-control" type="text" name="VehicleTypeId" asp-for="VehicleTypeId" value="@Model.VehicleTypeId" />
                <span asp-validation-for="VehicleTypeId" />
            </p>
            <p>
                <label class="form-label" asp-for="RegistrationNumber">RegistrationNumber:</label> <br />
                <input class="form-control" type="text" name="RegistrationNumber" asp-for="RegistrationNumber" value="@Model.RegistrationNumber" />
                <span asp-validation-for="RegistrationNumber" />
            </p>
            <p>
                <label class="form-label" asp-for="Weight">Weight:</label> <br />
                <input class="form-control" type="text" name="Weight" asp-for="Weight" value="@Model.Weight" />
                <span asp-validation-for="Weight" />
            </p>
            <p>
                <label class="form-label" asp-for="Year">Year:</label> <br />
                <input class="form-control" type="text" name="Year" asp-for="Year" value="@Model.Year" />
                <span asp-validation-for="Year" />
            </p>
            <p>
                <label class="form-label" asp-for="Mileage">Mileage:</label> <br />
                <input class="form-control" type="text" name="Mileage" asp-for="Mileage" value="@Model.Mileage" />
                <span asp-validation-for="Mileage" />
            </p>
            <p>
                <label class="form-label" asp-for="Color">Color:</label> <br />
                <input class="form-control" type="text" name="Color" asp-for="Color" value="@Model.Color"/>
                <span asp-validation-for="Color" />
            </p>
            <p>
                <label class="form-label" asp-for="FuelConsumption">FuelConsumption:</label> <br />
                <input class="form-control" type="text" name="FuelConsumption" asp-for="FuelConsumption" value="@Model.FuelConsumption" />
                <span asp-validation-for="FuelConsumption" />
            </p>
            <input class="btn btn-primary" type="submit" value="Create" />
        </form>
    </div>
    <div class="col-md-3"></div>
</div>
