<h2 class="mb-4">Order details</h2>

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th scope="col">Order ID</th>
            <th scope="col">Veh model</th>
            <th scope="col">Name</th>
            <th scope="col"> quantity</th>
            <th scope="col">Date</th>
        </tr>
    </thead>
    <tbody>

        @foreach(var item in Model){
            <tr>
                <td scope="row">@item.OrderId</td>
                <td scope="row">@item.Model</td>
                <td scope="row">@item.Name</td>
                <td scope="row">@item.Quantity</td>
                <td scope="row">@item.Date.ToString("dd-MM-yyyy")</td>
            </tr>
        }
    </tbody>
</table>